.header {
  display: block;
  background-color: $color-5;
  width: 100%;
  z-index: 1;

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 72px;
    padding: 12px 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @include media('<=sm') {
      padding: 4px 15px;
    }
  }

  &__hamburger {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 32px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 100;

    &:before,
    &:after {
      transform-origin: 2px 50%;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      width: 28px;
      height: 2px;
      background: $color-1;
      border-radius: 2px;
      position: absolute;
      left: 10px;
      transition: .3s;
    }

    &:before {
      top: 17px;
    }

    &:hover {
      span {
        content: '';
        display: block;
        width: 28px;
        height: 2px;
        background: $color-1;
        border-radius: 2px;
        position: absolute;
        left: 10px;
        transition: .3s;
        top: 23px;
      }
    }

    span {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: $color-1;
      border-radius: 2px;
      position: absolute;
      left: 10px;
      transition: .3s;
      top: 23px;
    }

    &:after {
      bottom: 17px;
    }

    &.active {

      &:before {
        transform: rotate(45deg) translate(2px, -5px);
        background: $color-1;
      }

      span {
        transform: translateX(-50%);
        opacity: 0;
      }

      &:after {
        transform: rotate(-45deg) translate(1px, 6px);
        background: $color-1;
      }
    }
  }

  &__logo {
    display: block;
    width: 146px;
    height: 50px;

    @include media('<sm') {
      width: 97px;
      height: 32px;
    }
  }

  &__nav {
    margin: auto 0;
    display: block;
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 750px;
    height: 850px;
    z-index: 99;
    background-color: $color-5;
    transform: translateX(-100%);

    @include media('<sm') {
      width: 100vw;
      height: 100vh;
    }

    &-list {
      display: flex;
      flex-direction: column;
      padding: 230px 120px;

      @include media('<sm') {
        align-items: center;
        padding: 154px 0;
      }
    }

    &-item {
      @extend .heading-2;
      color: $color-3;
      padding-bottom: 30px;

      @include media('<sm') {
        font-size: 24px;
        line-height: 40px;
      }

      &:last-child {
        padding-bottom: 0;
      }

      a:hover {
        color: $color-7;
        border-bottom: 2px solid $color-7;
        transition: .2s;
      }
    }
  }

  &.menu-open {
    .header__nav {
      position: absolute;
      transform: translateY(0);
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    justify-content: end;

    &-link {
      @extend .text-3;
      padding-left: 24px;

      @include media('<sm') {
        padding-left: 12px;
      }

      &:hover {
        color: $color-3;
      }
    }
  }

}


