<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <!-- og format -->
    <meta property="og:title" content="">
    <!-- bar color -->
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/app/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="images/app/apple-touch-icon152.png" sizes="152x152">
    <title>Page not found 404</title>
</head>
<body>
<div class="wrapper" id="wrapper">
    <%= _.template(require('./parts/header.html'))() %>
    <div class="app" id="app">
        <div id="notfound" class="notfound">
            <div class="container">
                <img class="notfound__image" src="images/app/404.webp" alt="404">
                <h4 class="notfound__header">Sorry, Page not found(</h4>
                <p class="notfound__paragraph">We’re are sorry, the page you requested could not be found. Please, go
                    back to the homepage</p>
                <button class="btn-5" onclick="location.href = document.referrer" type="button">GO BACK
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use xlink:href="images/icons/sprite.svg#arrow_right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
