<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <!-- og format -->
    <meta property="og:title" content="">
    <!-- bar color -->
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/app/favicon.svg" type="image/svg+xml">
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
    <title>Be Perfect with Lara Schön Products</title>
</head>
<body>
<div class="wrapper" id="wrapper">
    <%= _.template(require('./parts/header.html'))() %>
    <div class="app" id="app">
        <div id="blog-single" class="blog-single">
            <section class="vision" style="background-image: url(images/bg_01.jpg)">
                <h1 class="vision__title">BLOG</h1>
            </section>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li><a class="breadcrumbs__item" href="/">HOME</a></li>
                    <li><a class="breadcrumbs__item" href="blog.html">BLOG</a></li>
                    <li><a class="breadcrumbs__item" href="#">Be Perfect with Lara Schön Products</a></li>

                </ul>
            </div>
            <div class="container">
                <section class="blog-single__inner">
                    <div class="blog-single__head">
                        <h2 class="blog-single__title">Be Perfect with Lara Schön Products</h2>
                        <p class="blog-single__date">August 6, 2022</p>
                    </div>
                    <div class="blog-single__image">
                        <img src="images/img_02.jpg" alt="product image">
                    </div>

                    <div class="blog-single__article">
                        <p class="blog-single__article-paragraph">
                            Microbiome Skin Food Cream is a new face care product in the Lara Schön line of face creams.
                            The perfect formula of the cream combines the best peptides, vitamins and plant extracts for
                            daily facial skin care.
                        </p>
                        <p class="blog-single__article-paragraph">
                            Microbiome face cream is for all skin types, as the components tune the work of cells,
                            determining the priority target.
                        </p>
                        <p class="blog-single__article-paragraph">
                            • For Dry skin<br>
                            As a result of environmental influences, stress, hereditary factors, climate, the skin loses
                            moisture and becomes dry. This cream has hydrating properties, deeply moisturizes the
                            epidermis. Your skin receives gentle care and becomes softer and more elastic.
                        </p>
                        <p class="blog-single__article-paragraph">
                            • For Mature skin<br>
                            Slowing down the metabolic processes of the skin leads to the formation of "creases", that
                            is, wrinkles. The peptide complex of the cream is aimed at accelerating metabolism,
                            restoring the collagen fibers of the epidermis and increasing the natural youth protein.
                            Wrinkles are smoothed out, your skin regains youth and freshness. Peptides help skin cells
                            renew themselves, initiating rejuvenation processes. Thus, the cells begin to produce
                            proteins independently (collagen, elastin, and others) and restore skin elasticity and
                            smoothness.
                        </p>

                        <p class="blog-single__article-paragraph">
                            <span class="p-checked"></span>Palmitoyl tripeptide-1<br>
                            Is the Messenger peptide that affects the restoration of collagen and glycosaminoglycan.
                            Strengthens the epidermis, reduces the depth of wrinkles and roughness of the skin, smoothes
                            the epidermis. Does not cause irritation.
                        </p>
                        <p class="blog-single__article-paragraph">
                            <span class="p-checked"></span>Palmitoyl tetrapeptide-7<br>
                            It is part of immunoglobulin G. It relieves inflammations after sun exposure. Strengthens
                            capillaries, relieves puffiness, reduces acne marks.
                        </p>
                        <p class="blog-single__article-paragraph">
                            <span class="p-checked"></span>Acetyl hexapeptide-8<br>
                            It is one of the most popular muscle relaxants. Its action is based on relaxation of the
                            muscles of the face. Mimic wrinkles are reduced and the appearance of new ones stops. The
                            peptide acts gradually, is non-toxic and does not cause side effects. It is an alternative
                            to Botox.

                        </p>
                        <p class="blog-single__article-paragraph">
                            <span class="p-checked"></span>Low molecular weight hyaluronic acid has small molecules that
                            easily penetrate even into the deep layers of the epidermis. Accelerates the processes of
                            cell division, stimulating fibroblasts, thereby restoring the production of natural
                            collagen.
                        </p>
                        <p class="blog-single__article-paragraph">
                            <span class="p-checked"></span>A stable form of vitamin C is created by binding ascorbic acid to other substances.  Upon contact with the skin, they break down, releasing vitamin C directly into the epidermis.  This form of vitamin is used for sensitive skin.  Thanks to its antioxidant properties and effect on free radicals, it restores youthfulness to the skin.  Relieves inflammation, reduces photoaging of the skin.
                        </p>
                        <p class="blog-single__article-paragraph">
                            <span class="p-checked"></span>Noni fruit extract is one of the most popular medicinal components.  The extract contains more than 150 biologically active substances that nourish and protect the skin at the cellular level.  Enhances metabolic processes, perfectly moisturizes, restores and smoothes the skin.
                        </p>
                        <p class="blog-single__article-paragraph">
                            <span class="p-checked"></span>Jojoba oil is the indispensable component in products for both dry and problem skin. Despite the dense texture, it is completely absorbed and does not leave a greasy shine. Squalene retains moisture in the epidermis, creates an invisible protection against its loss.  At the same time, jojoba oil regulates the secretion of sebum and thus soothes irritated and inflamed skin.
                        </p>
                        <p class="blog-single__article-paragraph">
                            Regular use of the Microbiome cream stimulates the processes of restoration of the dermis.  The skin is renewed at the cellular level, its immunity increases.  The complexion improves, softness and silkiness return.  We have created an eco-friendly, efficient and effective product with the best ingredients for superior results.
                        </p>

                        <div class="blog-single__article-navigation">
                            <a class="prev-next disabled" href="#">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="images/icons/sprite.svg#arrow_left"></use>
                                </svg>
                                PREV
                            </a>
                            <a class="prev-next disabled" href="#">NEXT
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="images/icons/sprite.svg#arrow_right"></use>
                                </svg>
                            </a>
                        </div>
                        <a class="btn-3" href="blog.html">GO TO THE BLOG</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
