<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- og format -->
    <meta property="og:title" content="">
    <!-- bar color -->
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/app/favicon.svg" type="image/svg+xml">
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
    <title>Privacy policy</title>
</head>
<body>
<div class="wrapper" id="wrapper">
    <%= _.template(require('./parts/header.html'))() %>
    <div class="app" id="app">
        <div id="privacy">
            <section class="vision" style="background-image: url(images/bg_08.jpg)">
                <h1 class="vision__title">PRIVACY POLICY</h1>
            </section>
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li><a class="breadcrumbs__item" href="/">HOME</a></li>
                    <li><a class="breadcrumbs__item" href="#">PRIVACY POLICY</a></li>
                </ul>
            </div>
            <section class="privacy">
                <div class="container">
                    <div class="privacy__inner">
                        <h2 class="privacy__title">PRIVATE POLICY & DATA PROTECTION</h2>
                        <h4 class="privacy__subtitle">1. DATA PROTECTION AT A GLANCE</h4>

                        <p class="privacy__highlight">General information</p>
                        <p class="privacy__paragraph">The following information provides a simple overview of what
                            happens to your personal data when you visit our website. Personal data is any data by which
                            you can be personally identified. For more detailed information on data protection, please
                            refer to our data protection statement below this text.</p>

                        <p class="privacy__highlight">Data collection on our website</p>
                        <p class="privacy__paragraph">Who is responsible for data collection on this website?<br>
                            Data processing on this website is carried out by the website operator.<br>

                            How do we collect your data?<br>

                            On the one hand, your data is collected when you provide it to us. This may, for example, be
                            data that you enter in a contact form. Other data is collected automatically by our IT
                            systems when you visit the website. This is mainly technical data (e.g. internet browser,
                            operating system or time of page view). This data is collected automatically as soon as you
                            enter our website.<br>

                            What do we use your data for?<br>

                            Part of the data is collected in order to ensure error-free provision of the website. Other
                            data may be used to analyse your user behaviour.<br>

                            What rights do you have regarding your data?<br>

                            You have the right to receive information free of charge at any time about the origin,
                            recipient and purpose of your stored personal data. You also have the right to demand the
                            correction, blocking or deletion of this data. You can contact us at any time at the address
                            given in the imprint for this purpose and for further questions on the subject of data
                            protection. Furthermore, you have the right to lodge a complaint with the competent
                            supervisory authority. You also have the right to request the restriction of the processing
                            of your personal data under certain circumstances. For details, please refer to the data
                            protection declaration under "Right to restriction of processing".</p>

                        <p class="privacy__highlight">Analysis tools and third-party tools</p>
                        <p class="privacy__paragraph">When visiting our website, your surfing behaviour may be
                            statistically analysed. This is done primarily with cookies and with so-called analysis
                            programs. The analysis of your surfing behaviour is usually anonymous; the surfing behaviour
                            cannot be traced back to you. You can object to this analysis or prevent it by not using
                            certain tools. You will find detailed information on this in the following data protection
                            declaration. You can object to this analysis. We will inform you about the possibilities of
                            objection in this data protection declaration.</p>

                        <h4 class="privacy__subtitle">2. GENERAL NOTES AND OBLIGATORY INFORMATION</h4>
                        <p class="privacy__highlight">Data protection</p>
                        <p class="privacy__paragraph">The operators of these pages take the protection of your personal
                            data very seriously. We treat your personal data confidentially and in accordance with the
                            statutory data protection regulations and this data protection declaration. When you use
                            this website, various personal data are collected. Personal data is data by which you can be
                            personally identified. This Privacy Policy explains what information we collect and how we
                            use it. It also explains how and for what purpose this is done. We would like to point out
                            that data transmission on the Internet (e.g. when communicating by e-mail) can have security
                            gaps. Complete protection of data against access by third parties is not possible.</p>

                        <p class="privacy__highlight">Note on the responsible office</p>
                        <p class="privacy__paragraph">
                            The responsible party for data processing on this website is:<br>
                            LARA SCHÖN<br>
                            Unterm Wald 18<br>
                            4816 Gschwandt, Austria<br>
                            Phone:<br>
                            +43761267607<br>
                            Email:<br>
                            info@laraschoen.com<br>
                            The controller is the natural or legal person who alone or jointly with others determines
                            the purposes and means of the processing of personal data (e.g. names, e-mail addresses or
                            similar).</p>

                        <p class="privacy__highlight">Revocation of your consent to data processing</p>
                        <p class="privacy__paragraph">
                            Many data processing operations are only possible with your express consent. You can revoke
                            consent you have already given at any time. All you need to do is send us an informal
                            e-mail. The legality of the data processing carried out until the revocation remains
                            unaffected by the revocation.</p>

                        <p class="privacy__highlight">Right to object to data collection in special cases and to direct
                            advertising (Art. 21 DSGVO)</p>
                        <p class="privacy__paragraph">If data processing is carried out on the basis of Art. 6(1)(e) or
                            (f) DSGVO, you have the right to object to the processing of your personal data at any time
                            on grounds relating to your particular situation; this also applies to profiling based on
                            these provisions. The respective legal basis on which processing is based can be found in
                            this data protection declaration. If you object, we will no longer process your personal
                            data concerned unless we can demonstrate compelling legitimate grounds for the processing
                            which override your interests, rights and freedoms, or the processing serves the purpose of
                            asserting, exercising or defending legal claims (objection under Article 21(1) of the GDPR).
                            If your personal data are processed for the purpose of direct marketing, you have the right
                            to object at any time to the processing of personal data concerning you for the purpose of
                            such marketing; this also applies to profiling insofar as it is related to such direct
                            marketing. If you object, your personal data will subsequently no longer be used for the
                            purpose of direct advertising (objection pursuant to Art. 21 (2) DSGVO).</p>

                        <p class="privacy__highlight">Right of complaint to the competent supervisory authority</p>
                        <p class="privacy__paragraph">In the event of violations of the GDPR, data subjects have the
                            right to lodge a complaint with a supervisory authority, in particular in the Member State
                            of their habitual residence, their place of work or the place of the alleged violation. The
                            right of appeal is without prejudice to any other administrative or judicial remedy.</p>

                        <p class="privacy__highlight">Right to data portability</p>
                        <p class="privacy__paragraph">You have the right to have data that we process automatically on
                            the basis of your consent or in performance of a contract handed over to you or to a third
                            party in a common, machine-readable format. If you request the direct transfer of the data
                            to another controller, this will only be done insofar as it is technically feasible.</p>

                        <p class="privacy__highlight">SSL or TLS encryption</p>
                        <p class="privacy__paragraph">For security reasons and to protect the transmission of
                            confidential content, such as orders or enquiries that you send to us as the site operator,
                            this site uses SSL or TLS encryption. You can recognise an encrypted connection by the fact
                            that the address line of the browser changes from "http://" to "https://" and by the lock
                            symbol in your browser line. If SSL or TLS encryption is activated, the data you transmit to
                            us cannot be read by third parties.</p>

                        <p class="privacy__highlight">Information, blocking, deletion and correction</p>
                        <p class="privacy__paragraph">Within the framework of the applicable legal provisions, you have
                            the right at any time to free information about your stored personal data, its origin and
                            recipient and the purpose of the data processing and, if applicable, a right to correction,
                            blocking or deletion of this data. For this purpose, as well as for further questions on the
                            subject of personal data, you can contact us at any time at the address given in the
                            imprint.</p>

                        <p class="privacy__highlight">Right to restriction of processing</p>
                        <p class="privacy__paragraph">You have the right to request the restriction of the processing of
                            your personal data. To do this, you can contact us at any time at the address given in the
                            imprint. The right to restriction of processing exists in the following cases:<br>

                            - If you dispute the accuracy of your personal data stored by us, we usually need time to
                            check this. For the duration of the verification, you have the right to request the
                            restriction of the processing of your personal data.<br>

                            - If the processing of your personal data has happened / is happening unlawfully, you can
                            request the restriction of data processing instead of erasure.<br>

                            - If we no longer need your personal data, but you need it to exercise, defend or assert
                            legal claims, you have the right to request restriction of the processing of your personal
                            data instead of erasure.<br>

                            - If you have lodged an objection pursuant to Art. 21 (1) DSGVO, a balancing of your and our
                            interests must be carried out. As long as it has not yet been determined whose interests
                            prevail, you have the right to demand the restriction of the processing of your personal
                            data.<br>

                            If you have restricted the processing of your personal data, this data may - apart from
                            being stored - only be processed with your consent or for the assertion, exercise or defence
                            of legal claims or for the protection of the rights of another natural or legal person or
                            for reasons of an important public interest of the European Union or a Member State.</p>

                        <p class="privacy__highlight">Objection to advertising e-mails</p>
                        <p class="privacy__paragraph">We hereby object to the use of contact data published within the
                            scope of the imprint obligation to send advertising and information material that has not
                            been expressly requested. The operators of the pages expressly reserve the right to take
                            legal action in the event of the unsolicited sending of advertising information, for example
                            by spam e-mails.</p>

                        <h4 class="privacy__subtitle">3. DATA COLLECTION ON OUR WEBSITE</h4>
                        <p class="privacy__highlight">Cookies</p>
                        <p class="privacy__paragraph">Some of the Internet pages use so-called cookies. Cookies do not
                            damage your computer and do not contain viruses. Cookies serve to make our offer more
                            user-friendly, effective and secure. Cookies are small text files that are stored on your
                            computer and saved by your browser. Most of the cookies we use are so-called "session
                            cookies". They are automatically deleted at the end of your visit. Other cookies remain
                            stored on your terminal device until you delete them. These cookies enable us to recognise
                            your browser on your next visit. You can set your browser so that you are informed about the
                            setting of cookies and only allow cookies in individual cases, exclude the acceptance of
                            cookies for certain cases or in general and activate the automatic deletion of cookies when
                            closing the browser. If you deactivate cookies, the functionality of this website may be
                            limited. Cookies that are required to carry out the electronic communication process or to
                            provide certain functions that you have requested (e.g. shopping cart function) are stored
                            on the basis of Art. 6 para. 1 lit. f DSGVO. The website operator has a legitimate interest
                            in storing cookies for the technically error-free and optimised provision of its services.
                            Insofar as other cookies (e.g. cookies to analyse your surfing behaviour) are stored, these
                            are dealt with separately in this data protection declaration.</p>

                        <p class="privacy__highlight">Server log files</p>
                        <p class="privacy__paragraph">
                            The provider of the pages automatically collects and stores information in so-called server
                            log files, which your browser automatically transmits to us. These are:<br>
                            - browser type and browser version<br>
                            - Operating system used<br>
                            - referrer URL<br>
                            - Host name of the accessing computer<br>
                            - Time of the server request<br>
                            - IP address<br>

                            This data is not merged with other data sources.<br>

                            The collection of this data is based on Art. 6 para. 1 lit. f DSGVO. The website operator
                            has a legitimate interest in the technically error-free presentation and optimisation of its
                            website - for this purpose, the server log files must be collected.</p>

                        <p class="privacy__highlight">Contact form</p>
                        <p class="privacy__paragraph">If you send us enquiries via the contact form, your details from
                            the enquiry form, including the contact details you provide there, will be stored by us for
                            the purpose of processing the enquiry and in the event of follow-up questions. We do not
                            pass on this data without your consent.<br>
                            The processing of the data entered in the contact form is therefore based exclusively on
                            your consent (Art. 6 para. 1 lit. a DSGVO). You can revoke this consent at any time. For
                            this purpose, an informal communication by e-mail to us is sufficient. The legality of the
                            data processing operations carried out until the revocation remains unaffected by the
                            revocation.<br>
                            The data you entered in the contact form will remain with us until you request us to delete
                            it, revoke your consent to store it or the purpose for storing the data no longer applies
                            (e.g. after we have completed processing your request). Mandatory legal provisions - in
                            particular retention periods - remain unaffected.</p>

                        <h4 class="privacy__subtitle">4. SOCIAL MEDIA</h4>
                        <p class="privacy__paragraph">Sharing content via plugins (Facebook, Google+1, Twitter & Co.,
                            Instagram).<br>
                            The content on our pages can be shared in social networks such as Facebook, Instagram,
                            Twitter or Google+ in a data protection-compliant manner. This page uses the eRecht24 Safe
                            Sharing Tool for this purpose. This tool only establishes direct contact between the
                            networks and users when the user actively clicks on one of these buttons. Clicking on the
                            button constitutes consent within the meaning of Art. 6 (1) lit. a DSGVO. This consent can
                            be revoked at any time with effect for the future.<br>
                            An automatic transfer of user data to the operators of these platforms does not take place
                            through this tool. If the user is logged in to one of the social networks, an information
                            window appears when using the social buttons of Facebook, Instagram, Google+1, Twitter & Co.
                            in which the user can confirm the text before sending it.<br>
                            Our users can share the contents of this page in social networks in a privacy-compliant
                            manner without complete surfing profiles being created by the operators of the networks.</p>

                        <h4 class="privacy__subtitle">5. ANALYTICS TOOLS AND ADVERTISING</h4>
                        <p class="privacy__highlight">Google Analytics</p>
                        <p class="privacy__paragraph">This website uses functions of the web analysis service Google
                            Analytics. The provider is Google Inc, 1600 Amphitheatre Parkway, Mountain View, CA 94043,
                            USA.<br>

                            Google Analytics uses so-called "cookies". These are text files that are stored on your
                            computer and enable an analysis of your use of the website. The information generated by the
                            cookie about your use of this website is usually transmitted to a Google server in the USA
                            and stored there.<br>

                            The storage of Google Analytics cookies and the use of this analysis tool are based on Art.
                            6 (1) lit. f DSGVO. The website operator has a legitimate interest in analysing user
                            behaviour in order to optimise both its website and its advertising.</p>

                        <p class="privacy__highlight">IP anonymisation</p>
                        <p class="privacy__paragraph">We have activated the IP anonymisation function on this website.
                            This means that your IP address is shortened by Google within member states of the European
                            Union or in other contracting states to the Agreement on the European Economic Area before
                            being transmitted to the USA. Only in exceptional cases will the full IP address be
                            transmitted to a Google server in the USA and shortened there. On behalf of the operator of
                            this website, Google will use this information for the purpose of evaluating your use of the
                            website, compiling reports on website activity and providing other services relating to
                            website activity and internet usage to the website operator. The IP address transmitted by
                            your browser as part of Google Analytics will not be merged with other Google data.</p>

                        <p class="privacy__highlight">Browser plugin</p>
                        <p class="privacy__paragraph">You may refuse the use of cookies by selecting the appropriate
                            settings on your browser, however
                            please note that if you do this you may not be able to use the full functionality of this
                            website. You can also prevent the collection of data generated by the cookie and related to
                            your
                            use of the website (including your IP address) by Google and the processing of this data by
                            Google by downloading and installing the browser plugin available at the following link:
                            <a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de</a>
                        </p>

                        <p class="privacy__highlight">Objection to data collection</p>
                        <p class="privacy__paragraph">You can prevent the collection of your data by Google Analytics by
                            clicking on the following link. An opt-out cookie will be set, which will prevent the
                            collection of your data during future visits to this website: Deactivate Google
                            Analytics<br>
                            For more information on how Google Analytics handles user data, please see Google's privacy
                            policy: <a href="https://support.google.com/analytics/answer/6004245?hl=de">https://support.google.com/analytics/answer/6004245?hl=de</a>.
                        </p>

                        <h4 class="privacy__subtitle">6. NEWSLETTER</h4>
                        <p class="privacy__highlight">Newsletter data</p>
                        <p class="privacy__paragraph">If you would like to receive the newsletter offered on the
                            website, we require an e-mail address from you as well as information that allows us to
                            verify that you are the owner of the e-mail address provided and that you agree to receive
                            the newsletter. Further data will not be collected or will only be collected on a voluntary
                            basis. We use this data exclusively for sending the requested information and do not pass it
                            on to third parties.<br>

                            The processing of the data entered in the newsletter registration form is based exclusively
                            on your consent (Art. 6 para. 1 lit. a DSGVO). You can revoke your consent to the storage of
                            the data, the e-mail address and their use for sending the newsletter at any time, for
                            example via the "unsubscribe" link in the newsletter. The legality of the data processing
                            operations already carried out remains unaffected by the revocation.<br>

                            The data you provide for the purpose of receiving the newsletter will be stored by us until
                            you unsubscribe from the newsletter and will be deleted after you unsubscribe from the
                            newsletter. Data that has been stored by us for other purposes remains unaffected by this.
                        </p>

                        <h4 class="privacy__subtitle">7. PLUGINS AND TOOLS</h4>
                        <p class="privacy__highlight">Google Web Fonts</p>
                        <p class="privacy__paragraph">This site uses so-called web fonts provided by Google for the
                            uniform display of fonts. The Google Fonts are installed locally. There is no connection to
                            Google servers.</p>

                        <p class="privacy__highlight">Google Maps</p>
                        <p class="privacy__paragraph">This site uses the map service Google Maps via an API. The
                            provider is Google Inc, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. To use the
                            functions of Google Maps, it is necessary to store your IP address. This information is
                            usually transferred to a Google server in the USA and stored there. The provider of this
                            site has no influence on this data transmission. Google Maps is used in the interest of an
                            appealing presentation of our online offers and to make it easy to find the places we
                            indicate on the website. This constitutes a legitimate interest within the meaning of Art. 6
                            Para. 1 lit. f DSGVO. More information on the handling of user data can be found in Google's
                            privacy policy: <a href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a>.
                        </p>

                        <p class="privacy__highlight">Google reCAPTCHA</p>
                        <p class="privacy__paragraph"> We use "Google reCAPTCHA" (hereinafter "reCAPTCHA") on our
                            websites. The provider is Google Inc, 1600 Amphitheatre Parkway, Mountain View, CA 94043,
                            USA ("Google").<br>

                            The purpose of reCAPTCHA is to check whether data entry on our websites (e.g. in a contact
                            form) is made by a human or by an automated programme. For this purpose, reCAPTCHA analyses
                            the behaviour of the website visitor on the basis of various characteristics. This analysis
                            begins automatically as soon as the website visitor enters the website. For the analysis,
                            reCAPTCHA evaluates various information (e.g. IP address, time spent by the website visitor
                            on the website or mouse movements made by the user). The data collected during the analysis
                            is forwarded to Google.<br>

                            The reCAPTCHA analyses run entirely in the background. Website visitors are not informed
                            that an analysis is taking place.<br>

                            The data processing is based on Art. 6 para. 1 lit. f DSGVO. The website operator has a
                            legitimate interest in protecting its web offers from abusive automated spying and from
                            SPAM.<br>

                            For more information on Google reCAPTCHA and Google's privacy policy, please see the
                            following links: <a href="https://www.google.com/intl/de/policies/privacy/">https://www.google.com/intl/de/policies/privacy/</a>
                            and <a href="https://www.google.com/recaptcha/intro/android.html">https://www.google.com/recaptcha/intro/android.html</a>.
                        </p>

                        <h2 class="privacy__title">DISCLAIMER</h2>
                        <p class="privacy__highlight">Liability for contents</p>
                        <p class="privacy__paragraph">The contents of our pages were created with the greatest care.
                            However, we cannot assume any liability for the correctness, completeness and topicality of
                            the contents. Liability for links Our offer contains links to external websites of third
                            parties, on whose contents we have no influence. Therefore, we cannot assume any liability
                            for these external contents. The respective provider or operator of the pages is always
                            responsible for the content of the linked pages. The linked pages were checked for possible
                            legal violations at the time of linking. Illegal contents were not recognisable at the time
                            of linking. However, permanent monitoring of the content of the linked pages is not
                            reasonable without concrete indications of a legal violation. If we become aware of any
                            infringements, we will remove such links immediately.</p>

                        <p class="privacy__highlight">Copyright</p>
                        <p class="privacy__paragraph">The operators of the pages always endeavour to respect the
                            copyrights of others or to use their own works or works in the public domain. The contents
                            and works created by the site operators on these pages are subject to European Union
                            copyright law. Contributions by third parties are marked as such. The reproduction, editing,
                            distribution and any kind of use outside the limits of copyright law require the written
                            consent of the respective author or creator. Downloads and copies of this site are only
                            permitted for private, non-commercial use.</p>


                    </div>
                </div>
            </section>
        </div>
    </div>
    <%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
